#root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Inter", serif;
}

#map-container {
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

.topbar {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.topbar-item {
    background-color: #333333;
    color: #fff;
    margin: 12px;
    margin-right: 0px;
    border-radius: 4px;
    padding: 6px 12px;
    flex-shrink: 0; /* Prevents the div from shrinking */
    white-space: nowrap; /* Prevents text from wrapping */
    padding: 1rem; /* Optional styling */
}

.placename-list {
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 80%;
    overflow-y: hidden;
    width: 100%;
}
